---
import "../styles/global.css";
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "About";
const skills = ["mechanistic interpretability", "neurosymbolic AI", "prediction markets"];
const finished = false;
const lastUpdated = "12-19-2025"
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{pageTitle}</title>
</head>

<Navigation />
<h1>{pageTitle}</h1>

<p>Hello there! I'm glad you've stumbled onto this page. </p>
<p>Here are some things I like to think about:</p>
<ul>
  {skills.map((skill) => <li>{skill}</li>)}
</ul>


<!-- <Footer /> -->


<p>This site was last updated on {lastUpdated}.</p>
<!-- {
  finished ? (
    <p>This site is finished.</p>
  ) : (
    <p>This site is a work in progress.</p>
  )
} -->