---
import '../styles/global.css'
import Navigation from '../components/navigation.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "Alice Zhang";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <h1>{pageTitle}</h1>
    <p>etc.</p>
    <Footer />

  </body>
</html>
