---
import Navigation from '../components/navigation.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css'
const pageTitle = "Musings";
---
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{pageTitle}</title>
</head>

<Navigation />


<main>
  <h1>{pageTitle}</h1>
  <ul>
    <li><a href="/posts/112525/">11-25-25</a></li>
    <li><a href="/posts/112625/">11-26-25</a></li>
  </ul>
</main>

<Footer />
