---
const platform = "Github";
const username = "al1cezhan9";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Let's <a href={'https://calendar.app.google/UxewRBWL6zLD6Swc6'}>chat</a>!</p>
</footer>