---
import Socials from './Socials.astro';
const platform = "Github";
const username = "al1cezhan9";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Let's <a href={'https://calendar.app.google/UxewRBWL6zLD6Swc6'}>chat</a>!</p>
</footer>


<!-- <style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <Socials platform="twitter" username="astrodotbuild" />
  <Socials platform="github" username="withastro" />
  <Socials platform="youtube" username="astrodotbuild" />
</footer>
 -->
