---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/blog.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
